# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Module for reading CSV files
import csv
csvpath = os.path.join("..","WeatherPy/output_data/cities.csv")
weather_df = pd.read_csv(csvpath)
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Max Temp,Lat,Lng,Wind Speed
0,Port Elizabeth,20,ZA,1580008361,88,68.0,-33.92,25.57,23.04
1,Albany,90,US,1580008326,100,39.2,42.60,-73.97,3.36
2,Russell,1,US,1580008193,80,46.4,32.35,-85.20,3.36
3,Tuktoyaktuk,90,CA,1580008362,75,-13.0,69.45,-133.04,25.28
4,Bredasdorp,68,ZA,1580008363,87,59.0,-34.53,20.04,13.87

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# humidity heatmap
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df['Humidity'].astype(float)

# plot heatmap and set zoom level and coordinates
fig = gmaps.figure(center=(0,0),zoom_level=2.2)

# create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)
# add heat layer
fig.add_layer(heat_layer)

# display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# Create new DataFrame fitting weather criteria
# max temperature lower than 80 degrees but higher than 60.
# Wind speed less than 10 mph.
# Zero cloudiness.
ideal_df = weather_df.copy()
ideal_df = ideal_df[ideal_df['Max Temp'] >= 60]
ideal_df = ideal_df[ideal_df['Max Temp'] <= 80]
ideal_df = ideal_df[ideal_df['Wind Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Cloudiness'] == 0]
ideal_df = ideal_df.dropna()
ideal_df = ideal_df.reset_index()
ideal_df

,index,City,Cloudiness,Country,Date,Humidity,Max Temp,Lat,Lng,Wind Speed
0,24,Castro,0,BR,1580008366,93,61.63,-24.79,-50.01,2.84
1,47,Bhan,0,PK,1580008368,53,62.22,26.56,67.72,0.76
2,53,Lebu,0,CL,1580008369,85,61.23,-37.62,-73.65,7.78
3,92,Mogok,0,MM,1580008375,27,63.95,22.92,96.50,1.07
4,100,Pergamino,0,AR,1580008376,70,75.99,-33.89,-60.57,1.99
5,118,Mar del Plata,0,AR,1580008114,59,66.20,-38.00,-57.56,8.05
6,127,Santa Rosalia,0,MX,1580008379,49,60.96,27.32,-112.28,0.92
7,130,Coquimbo,0,CL,1580008379,93,62.60,-29.95,-71.34,5.82
8,195,Barra de Tecoanapa,0,MX,1580008388,80,74.75,16.52,-98.75,0.74
9,196,Cardoso,0,BR,1580008388,84,71.44,-20.08,-49.91,4.83
10,199,Tres Lagoas,0,BR,1580008388,79,72.91,-20.75,-51.68,5.93
11,201,Departamento de Maldonado,0,UY,1580008389,77,66.20,-34.67,-54.92,5.82
12,207,Amarkantak,0,IN,1580008389,36,60.62,22.67,81.75,3.83
13,224,Guerrero Negro,0,MX,1580008413,78,62.11,27.98,-114.06,9.37
14,242,Tura,0,IN,1580008415,55,63.28,25.52,90.22,3.38
15,256,Cajati,0,BR,1580008438,98,65.79,-24.74,-48.12,1.81
16,261,Kattivakkam,0,IN,1580008438,88,73.99,13.22,80.32,4.70
17,313,Arraial do Cabo,0,BR,1580008445,82,75.16,-22.97,-42.03,6.76
18,320,Dwarka,0,IN,1580008446,70,71.55,22.24,68.97,9.46
19,353,Gondal,0,IN,1580008451,28,68.09,21.97,70.80,6.58
20,386,Constitucion,0,CL,1580008455,67,63.21,-35.33,-72.42,5.70
21,402,Puri,0,IN,1580008457,82,66.20,19.80,85.85,4.18
22,455,Rocha,0,UY,1580008226,78,60.19,-34.48,-54.33,4.52
23,499,Sundumbili,0,ZA,1580008469,88,71.60,-29.13,31.40,4.70
24,506,Gaurela,0,IN,1580008470,36,60.62,22.75,81.90,3.83
25,507,Kollo,0,NE,1580008471,10,71.60,13.30,2.34,6.93
26,508,Ilebo,0,CD,1580008471,83,70.81,-4.32,20.58,1.30
27,510,Niteroi,0,BR,1580008471,73,75.20,-22.88,-43.10,2.24
28,515,Caapucu,0,PY,1580008472,47,73.58,-26.22,-57.20,2.86
29,528,Presidencia Roque Saenz Pena,0,AR,1580008474,48,75.47,-26.79,-60.44,3.49
30,532,Betul,0,IN,1580008474,47,63.05,21.92,77.90,1.83

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# create "hotel_df"
hotel_df = pd.DataFrame(ideal_df)
hotel_df

,index,City,Cloudiness,Country,Date,Humidity,Max Temp,Lat,Lng,Wind Speed
0,24,Castro,0,BR,1580008366,93,61.63,-24.79,-50.01,2.84
1,47,Bhan,0,PK,1580008368,53,62.22,26.56,67.72,0.76
2,53,Lebu,0,CL,1580008369,85,61.23,-37.62,-73.65,7.78
3,92,Mogok,0,MM,1580008375,27,63.95,22.92,96.50,1.07
4,100,Pergamino,0,AR,1580008376,70,75.99,-33.89,-60.57,1.99
5,118,Mar del Plata,0,AR,1580008114,59,66.20,-38.00,-57.56,8.05
6,127,Santa Rosalia,0,MX,1580008379,49,60.96,27.32,-112.28,0.92
7,130,Coquimbo,0,CL,1580008379,93,62.60,-29.95,-71.34,5.82
8,195,Barra de Tecoanapa,0,MX,1580008388,80,74.75,16.52,-98.75,0.74
9,196,Cardoso,0,BR,1580008388,84,71.44,-20.08,-49.91,4.83
10,199,Tres Lagoas,0,BR,1580008388,79,72.91,-20.75,-51.68,5.93
11,201,Departamento de Maldonado,0,UY,1580008389,77,66.20,-34.67,-54.92,5.82
12,207,Amarkantak,0,IN,1580008389,36,60.62,22.67,81.75,3.83
13,224,Guerrero Negro,0,MX,1580008413,78,62.11,27.98,-114.06,9.37
14,242,Tura,0,IN,1580008415,55,63.28,25.52,90.22,3.38
15,256,Cajati,0,BR,1580008438,98,65.79,-24.74,-48.12,1.81
16,261,Kattivakkam,0,IN,1580008438,88,73.99,13.22,80.32,4.70
17,313,Arraial do Cabo,0,BR,1580008445,82,75.16,-22.97,-42.03,6.76
18,320,Dwarka,0,IN,1580008446,70,71.55,22.24,68.97,9.46
19,353,Gondal,0,IN,1580008451,28,68.09,21.97,70.80,6.58
20,386,Constitucion,0,CL,1580008455,67,63.21,-35.33,-72.42,5.70
21,402,Puri,0,IN,1580008457,82,66.20,19.80,85.85,4.18
22,455,Rocha,0,UY,1580008226,78,60.19,-34.48,-54.33,4.52
23,499,Sundumbili,0,ZA,1580008469,88,71.60,-29.13,31.40,4.70
24,506,Gaurela,0,IN,1580008470,36,60.62,22.75,81.90,3.83
25,507,Kollo,0,NE,1580008471,10,71.60,13.30,2.34,6.93
26,508,Ilebo,0,CD,1580008471,83,70.81,-4.32,20.58,1.30
27,510,Niteroi,0,BR,1580008471,73,75.20,-22.88,-43.10,2.24
28,515,Caapucu,0,PY,1580008472,47,73.58,-26.22,-57.20,2.86
29,528,Presidencia Roque Saenz Pena,0,AR,1580008474,48,75.47,-26.79,-60.44,3.49
30,532,Betul,0,IN,1580008474,47,63.05,21.92,77.90,1.83

In [42]:
# search googleplaces for hotels within 5000 meters
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# list for hotels
hotels = []

# counter
tick = 0

# for loop to search through city coords
for cities in hotel_df['City']:
    coords = str(hotel_df['Lat'][tick])+' , '+str(hotel_df['Lng'][tick])
    tick+=1

    # pass params per api documentation   
    params = {
    "location": coords,
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    }
    
# in case city doesn't come up  
    try:
        response = requests.get(base_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
    except IndexError:
        hotels.append(np.nan)

# append hotel names
hotel_df['Hotel Name'] = hotels
hotel_df.head()

,index,City,Cloudiness,Country,Date,Humidity,Max Temp,Lat,Lng,Wind Speed,Hotel Name
0,24,Castro,0,BR,1580008366,93,61.63,-24.79,-50.01,2.84,CHACARA BAILLY
1,47,Bhan,0,PK,1580008368,53,62.22,26.56,67.72,0.76,Shafi muhammad chandio shop
2,53,Lebu,0,CL,1580008369,85,61.23,-37.62,-73.65,7.78,Hostal Las Lilas
3,92,Mogok,0,MM,1580008375,27,63.95,22.92,96.50,1.07,MOGOK HILL HOTEL
4,100,Pergamino,0,AR,1580008376,70,75.99,-33.89,-60.57,1.99,Hotel Fachinat

In [44]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [45]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))