# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Module for reading CSV files
import csv
csvpath = os.path.join("..","WeatherPy/output_data/cities.csv")
weather_df = pd.read_csv(csvpath)
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Max Temp,Lat,Lng,Wind Speed
0,Channel-Port aux Basques,0,CA,1580007399,68,24.15,47.57,-59.14,3.18
1,Naze,75,JP,1580007215,94,71.60,28.37,129.48,8.05
2,Tuatapere,98,NZ,1580007185,51,65.64,-46.13,167.68,4.76
3,Almeirim,100,BR,1580007515,86,78.13,-1.52,-52.58,4.41
4,Dingle,31,PH,1580007299,73,84.15,11.00,122.67,5.21

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# humidity heatmap
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df['Humidity'].astype(float)

# plot heatmap and set zoom level and coordinates
fig = gmaps.figure(center=(0,0),zoom_level=2.2)

# create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)
# add heat layer
fig.add_layer(heat_layer)

# display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
# Create new DataFrame fitting weather criteria
# max temperature lower than 80 degrees but higher than 60.
# Wind speed less than 10 mph.
# Zero cloudiness.
ideal_df = weather_df.copy()
ideal_df = ideal_df[ideal_df['Max Temp'] >= 60]
ideal_df = ideal_df[ideal_df['Max Temp'] <= 80]
ideal_df = ideal_df[ideal_df['Wind Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Cloudiness'] == 0]
ideal_df = ideal_df.dropna()
ideal_df = ideal_df.reset_index()
ideal_df

,index,City,Cloudiness,Country,Date,Humidity,Max Temp,Lat,Lng,Wind Speed
0,12,Santa Maria,0,BR,1580007380,69,73.40,-29.68,-53.81,1.12
1,34,Castro,0,BR,1580007264,93,61.63,-24.79,-50.01,2.84
2,56,Ambovombe,0,MG,1580007382,90,65.16,-25.17,46.08,4.32
3,61,Constitucion,0,CL,1580007345,67,63.21,-35.33,-72.42,5.70
4,72,Arlit,0,NE,1580007375,11,64.99,18.74,7.39,8.28
5,79,Coquimbo,0,CL,1580007279,93,62.60,-29.95,-71.34,5.82
6,88,Taltal,0,CL,1580007389,83,67.77,-25.40,-70.48,1.72
7,117,Jaisalmer,0,IN,1580007528,29,64.92,26.91,70.92,8.30
8,133,Arraial do Cabo,0,BR,1580007174,82,75.16,-22.97,-42.03,6.76
9,138,Rio Cuarto,0,AR,1580007530,57,75.20,-33.13,-64.35,5.82
10,146,Acajutla,0,SV,1580007531,84,72.00,13.59,-89.83,1.01
11,175,Mar del Plata,0,AR,1580007286,59,66.20,-38.00,-57.56,8.05
12,203,Rocha,0,UY,1580007297,78,60.19,-34.48,-54.33,4.52
13,227,Felipe Carrillo Puerto,0,MX,1580007541,89,67.71,19.58,-88.05,2.95
14,245,Itabera,0,BR,1580007564,92,62.92,-23.86,-49.14,1.86
15,256,Barbosa Ferraz,0,BR,1580007566,61,77.00,-24.03,-52.01,3.36
16,261,Lebu,0,CL,1580007320,85,61.23,-37.62,-73.65,7.78
17,268,Les Cayes,0,HT,1580007567,70,77.83,18.20,-73.75,10.00
18,289,Nova Odessa,0,BR,1580007569,73,69.80,-22.78,-47.30,8.05
19,295,Jati,0,PK,1580007570,71,66.06,24.35,68.27,8.23
20,297,Bauru,0,BR,1580007570,73,75.20,-22.31,-49.06,2.24
21,311,Copiapo,0,CL,1580007492,77,68.00,-27.37,-70.33,4.70
22,340,Tura,0,IN,1580007338,55,63.28,25.52,90.22,3.38
23,371,Nepomuceno,0,BR,1580007581,90,65.35,-21.24,-45.24,1.81
24,380,Pozo Colorado,0,PY,1580007582,44,76.46,-23.49,-58.80,3.80
25,389,Vallenar,0,CL,1580007375,72,66.06,-28.57,-70.76,1.28
26,435,Gisborne,0,NZ,1580007589,70,79.00,-38.65,178.00,5.01
27,441,Lalmohan,0,BD,1580007589,39,65.19,22.34,90.74,4.54
28,453,Kattivakkam,0,IN,1580007591,88,73.99,13.22,80.32,4.70
29,523,Guerrero Negro,0,MX,1580007413,78,62.11,27.98,-114.06,9.37
30,528,Benemerito de las Americas,0,MX,1580007600,95,68.49,16.52,-90.64,2.66
31,530,Artigas,0,UY,1580007600,47,77.36,-30.40,-56.47,6.40
32,536,Dwarka,0,IN,1580007600,70,71.55,22.24,68.97,9.46
33,579,Reconquista,0,AR,1580007608,47,76.91,-29.15,-59.65,2.51

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [29]:
# create "hotel_df"
hotel_df = pd.DataFrame(ideal_df)
hotel_df.count()

index         34
City          34
Cloudiness    34
Country       34
Date          34
Humidity      34
Max Temp      34
Lat           34
Lng           34
Wind Speed    34
dtype: int64

In [35]:
# search googleplaces for hotels within 5000 meters
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
# list for hotel names
hotels = []
row = hotel_df['Lat']
# for loop to search through city coords
for row in hotel_df:

    target_coordinates = (hotel_df['Lat']),(hotel_df['Lng'])
    #print(target_coordinates)
    target_radius = 5000
    target_type = 'lodging'   
    row=+1
    params = {"location": target_coordinates,
              "radius": target_radius,
              "type": target_type,
               "key": g_key
             }
    #query_url = base_url + params
    # try/except to check if a city turns up    
    try:
        response = requests.get(base_url, params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
        
    except IndexError:
       # print("No Lodging Found")
        pass
        #hotels.append(np.nan)
print(target_coordinates)
#append dataframe with hotel names
hotel_df['Hotel Name'] = hotels
#hotel_df

(0    -29.68
1    -24.79
2    -25.17
3    -35.33
4     18.74
5    -29.95
6    -25.40
7     26.91
8    -22.97
9    -33.13
10    13.59
11   -38.00
12   -34.48
13    19.58
14   -23.86
15   -24.03
16   -37.62
17    18.20
18   -22.78
19    24.35
20   -22.31
21   -27.37
22    25.52
23   -21.24
24   -23.49
25   -28.57
26   -38.65
27    22.34
28    13.22
29    27.98
30    16.52
31   -30.40
32    22.24
33   -29.15
Name: Lat, dtype: float64, 0     -53.81
1     -50.01
2      46.08
3     -72.42
4       7.39
5     -71.34
6     -70.48
7      70.92
8     -42.03
9     -64.35
10    -89.83
11    -57.56
12    -54.33
13    -88.05
14    -49.14
15    -52.01
16    -73.65
17    -73.75
18    -47.30
19     68.27
20    -49.06
21    -70.33
22     90.22
23    -45.24
24    -58.80
25    -70.76
26    178.00
27     90.74
28     80.32
29   -114.06
30    -90.64
31    -56.47
32     68.97
33    -59.65
Name: Lng, dtype: float64)

ValueError: Length of values does not match length of index

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map